[submodule "jsonview-chrome"]
  path = jsonview-chrome
  url = https://github.com/jamiew/jsonview-chrome.git
[submodule "webmarker"]
	path = webmarker
	url = https://github.com/tbx/webmarker.git
[submodule "musicblackhole"]
	path = musicblackhole
	url = https://github.com/jamiew/musicblackhole.git
[submodule "canvasplayer"]
  path = canvasplayer
  url = https://github.com/jamiew/canvasplayer.git
[submodule "localtv"]
  path = localtv
  url = https://github.com/jamiew/localtv.git
[submodule "hypetv"]
	path = hypetv
	url = https://github.com/jamiew/hypetv.git
[submodule "kanyestudio-pro"]
	path = kanyestudio-pro
	url = https://github.com/jamiew/KanyeStudioPro.git
[submodule "quotable-kanye"]
	path = quotable-kanye
	url = https://github.com/jamiew/KANYE-QUOTABLES
