---
layout: default
title: Blog
---
<h1>Blog</h1>

<ul id="blog">
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

      <!-- FIXME DRY with default.html -->
      <div class="metadata">
        <div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
        <!--<div class="categories">
          {% for category in post.categories %}
            <a href="/categories/{{ category }}">#{{ category }}</a>
          {% endfor %}
        </div>-->
      </div>

      <div class="body">
        {{ post.excerpt }}
      </div>
    </li>
  {% endfor %}
</ul>
