<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <title>{{ page.title }}</title>

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

  <meta name="google-site-verification" content="lvsaiqNXO7DuCF-XW08n3_PrePJMDZRZRskcl4oLGbI" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" href="stylesheet.css" />

  <!-- TODO configure and bring back the SEO plugin -->

  {%- include analytics.html -%}

</head>
<body>
  <div id="header">
    <h1><a href="/">Jamie "Dubs" Wilkinson</a></h1>
  </div>

  <div id="content">
    {% if page.id %}
      <h2>{{ page.title }}</h2>
      <ul id="metadata">
        <li>Posted {{ page.date | date: "%B %-d, %Y" }}</li>
        <li>Tagged {{ page.categories }}</li>
      </ul>
    {% endif %}

    {{ content }}
  </div>

  <!-- <div id="footer"></div> -->
</body>
</html>
